<!DOCTYPE html>
<html lang="en">
  <head>
      <title>
          {% if page.title and page.title != 'Home' %}
            {{ page.title }} &middot; {{ site.title }}
          {% else %}
            {{ site.title }}
          {% endif %}
      </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body class="w-90 sans-serif bg-white">
      <main>
        <div data-name="component">
          {{ content }}
        </div>
      </main>
  </body>
</html>